@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --very-dark-magenta-color: hsl(300, 43%, 22%);
  --soft-pink-color: hsl(333, 80%, 67%);
  --dark-grayish-magenta-color: hsl(303, 10%, 53%);
  --light-grayish-magenta-color: hsl(300, 24%, 96%);
  --white-color: hsl(0, 0%, 100%);
}

html {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.25;
  text-align: center;
}

main {
  width: 374px;
  margin: 15vh auto;
  padding: 5%;
  border: 1px solid black;
}

.bg-top {
  content: url("images/bg-pattern-top-mobile.svg");
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* .bg-bottom {
  content: url("images/bg-pattern-bottom-mobile.svg");
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
} */

/* intro section */
.intro {
  margin: 5% 0;
}

.heading {
  color: var(--very-dark-magenta-color);
  font-size: 2.5rem;
  margin: 5vh 0;
  line-height: normal;
}

.intro .text {
  color: var(--dark-grayish-magenta-color);
}

.icon-star {
  content: url("images/icon-star.svg");
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
